@layer reset, theme, base;

@import "reset.css" layer(reset);
@import "theme.css" layer(theme);

@layer base {
  body {
    background: var(--color-bg-base);
    color: var(--color-fg-base);
    min-height: 100vh;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  #app {
    height: 100%;
  }
}
