:root {
  --spacing: 0.25rem;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;

  --font-bold: 700;

  --size-lg: 16rem;
  --size-xl: 26rem;
  --size-2xl: 42rem;

  --color-alpha-50: rgba(0, 0, 0, 0.04);
  --color-alpha-100: rgba(0, 0, 0, 0.06);
  --color-alpha-200: rgba(0, 0, 0, 0.08);
  --color-alpha-300: rgba(0, 0, 0, 0.16);
  --color-alpha-400: rgba(0, 0, 0, 0.24);
  --color-alpha-500: rgba(0, 0, 0, 0.36);
  --color-alpha-600: rgba(0, 0, 0, 0.48);
  --color-alpha-700: rgba(0, 0, 0, 0.64);
  --color-alpha-800: rgba(0, 0, 0, 0.8);
  --color-alpha-900: rgba(0, 0, 0, 0.92);

  --color-bg-base: #18181b;
  --color-fg-base: #f4f4f5;
}
